header {
    text-align: center;
    background-color: black;
}

.cities {
    /* height: 180px; */
    grid-template-rows: 4fr;
}

.saved-city {
    /* border: 15px; */
    margin-left: 10px;
    width: 100%;
    height: 30px;
    border-right: 5px solid #dee2e6!important;
    border: 1px solid #dee2e6!important;
    color: black;
    padding-left: 20px;
    border: 2px solid #dee2e6;
    border-radius: 4px;
}

.weather-info {
    width: 100%;
    padding-left: 20px;
    padding-top: 15px;
}

.current-weather {
    width: 100%;
    border: 2px solid #dee2e6;
    border-radius: 2px;
}
